*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    font-family: "Montserrat", sans-serif;
}

main{
    background-image: url("eficiencia energetica/header.png");
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 55px;
    font-weight: 700;
}
.yellow {
    color: #FBD914;
    font-weight: 700;
}

.intro{
    width: 80%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    
}

/* Main */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content_reverse img{
    height: 600px;
}

.content_imagen img{
    width: 650px;
    height: 700px;
    object-fit: cover;
    object-position: right;
}

.content_info{
    margin-top: 30px;
}
.content_title{
    font-size: 35px;
}

.content_subtitle{
    margin: 20px 0;
}
li::marker{
    color: #FBD914;
    font-size: 30px;
}

ul{
    line-height: 40px;
}

.content_reverse{
    flex-direction: row-reverse;
}

/* Cards*/

.cards {
    background-color: #8b8b8b;
}

.cards .card{
    width: 350px;
    height: 450px;
    box-shadow: ;
}

.card-body{
   text-align: center;
}

img.card-img-top{
    width: 150px;
    margin: auto;
}