body{
  width: 1440px;
  font-family: "Monserrat", sans-serif;
}
main{
  background-image: url(C:\Users\GenerationChileDiesi\Documents\GitHub\Energizatech\imagenes\contenedor-plastico-restos-basura.jpg);
  width: 100vw;
  height: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Conoces-la-diferencia-entre-basura-y-residuos- {
  width: 763px;
  height: 37px;
  flex-grow: 0;
  margin: 0 132px 56px 185px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Conoces-la-diferencia-entre-basura-y-residuos- .text-style-1 {
  color: #fbd914;
}

/*footer*/
footer{
  background-color: #464646;
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.logo img{
  width: 280px;
}
.subtitulo_formulario h1{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
.subtitulo_formulario p{
  font-size: 20px;
  color: white;
  font-weight: 300;
}

#exampleFormControlInput1{
  background-color: #cbcbcb;
  border: none;
}
#exampleFormControlTextarea1{
  background-color: #cbcbcb;
  border: none;
}

button.btn {
  width: 493px;
  background-color: #FBD914;
  margin-top: 10px;
}
button.btn:hover{
  background-color: #e47a0f;
}
.contacto h2{
  color: #fff;
  text-decoration: underline;
  padding-bottom: 20px;
}

.redes_contacto{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.fa-brands{
  color: #fff;
  font-size: 30px;
}
.fa-regular{
  font-size: 30px;
  color: #fff;
}

.info_contacto p{
  font-size: 16px;
  color: #fff;
  margin: 14px 0;
}
.derechos p{
  font-size: 12px;
  color: #fff;
}
.flecha{
  margin-top: 290px;
}
.fa-solid{
  color: #fff;
  font-size: 30px;
}